<!DOCTYPE html>
<html lang="en">
 
    <head>
        <meta charset="UTF-8">
        <title>CryClass</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0;">
        <link rel="stylesheet" type="text/css" href="static/Design.css?q=1280549780">
        <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/nolan/96/crying-baby.png">
        <script src="static/Pos.js"></script>
        
    </head>
    <body>
        
    <div>
     <svg
        class="progress-ring"
        width="500"
        height="500">
       <circle
        
         class="progress-ring__circle"
         stroke="#08bdff"
         stroke-width="35"
         fill="transparent"
         r="120 "
         cx="425"
         cy="125"/>
     </svg>
    </div>
    
        <input type="image"  src="static/Mic2.png" class="Mic" name="Rec" id="rec" />
          
    </body>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="static/Script.js"></script>
</html>