<!DOCTYPE html>
<html lang="en">


    <head>
        <title>CryClass</title>
        <link rel="stylesheet" type="text/css" href="static/OutDesign.css">
        <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/nolan/96/crying-baby.png">
       
        
    </head>
    <body>
        
        <h1>    
            <span>
            {{Result}}
            </span>
        </h1>
    <img src="static/Cry.png" class="Baby">    
    <img src= {{Image}} class="Bubble">
      

    </body>
  
</html>